.index-main {
  background: none;
  .banner {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .main-inner {
    margin-top: 600px;
    padding: 0 0 50px;
    background: linear-gradient(#fee694, #fcfcfc);

    .fav {
      .container {
        .fav-inner {
          position: relative;
          top: -105px;
          border: none;
          border-radius: 20px;
          background-color: #fff;
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
          padding: 20px 50px;

          .discription {
            margin: 20px auto;
            padding: 20px 0;
            text-align: center;
            font-size: 23px;
            font-weight: 600;
            border: 1px solid #878787;
            border-color: #878787 transparent #878787 transparent;
          }
        }
      }
    }

    .func {
      .container {
        .func-line {
          height: 3px;
          background-color: #ff5c00;
          border: none;
          margin: 30px auto;
        }

        .func-inner {
          display: flex;
          align-items: center;

          .card {
            margin: 0;
            width: 350px;
            height: fit-content;
            flex-shrink: 0;

            img {
              box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
              border-radius: 15px;
            }
          }

          .card-info {
            margin: auto 30px;

            .card-title {
              font-size: 24px;
              font-weight: 600;
              margin: 0 auto 10px;
            }

            ul {
              li {
                font-size: 18px;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
