.admin-main {
  background: none;

  .banner {
    position: fixed;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .main-inner {
    margin-top: 600px;
    padding: 0 0 100px;
    background: linear-gradient(#fcdf76, #fcfcfc);

    .func {
      .container {
        .func-inner {
          position: relative;
          top: -70px;
          border: none;
          border-radius: 20px;
          background-color: #fff;
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.25);
          padding: 20px 50px 30px;

          .admin-func {
            background-color: #FFECD0;
            width: fit-content;
            padding: 10px;
            border-radius: 20px;
            margin: 0 auto 30px;

            .tablinks {
              background-color: transparent;
              border: none;
              outline: none;
              color: #979797;
              font-size: 22px;
              padding: 15px 50px;
              border-radius: 20px;
              cursor: pointer;

              &.active {
                background-color: #FFCC9D;
                color: #FF6B00;
              }
            }
          }

          .pendings, .accounts, .transactions {

            .grid-container {
              display: grid;
              grid-template-columns: 45% 35% 20%;
              align-items: center;

              .table-line {
                grid-column-start: 1;
                grid-column-end: 4;
                width: 100%;
                border: none;
                background-color: #FF5C00;
                height: 2px;
              }

              .grid-item {
                font-size: 20px;

                &.date {
                  color: #878787;
                }

                &.final {
                  text-align: right;
                }

                &.name {
                  text-transform: uppercase;
                }

                &.out {
                  color: #DB0000;
                }

                &.in {
                  color: #0EAF00;
                }
              }
            }

            .grid-body {
              background: linear-gradient(180deg, #FFD788 0%, #FFF0C9 100%);
              border-radius: 15px;
              padding: 20px 50px 30px;

              .grid-item {

                .arrow {
                  margin-left: 10px;
                }
              }
            }

            .grid-header {
              padding: 0 50px;

              .grid-item {
                font-weight: 600;;
              }
            }
          }
        }
      }
    }
  }
}
